In [19]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("Mall_Customers.csv")

In [21]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [22]:
 ## For check null values ##
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [23]:
## There is no null value in my Dataset ##

In [24]:
## For find duplicates we use ##
df.duplicated().sum()

0

In [25]:
## No Duplicate values in my DataSet ##

In [26]:
## Standardize text values like gender ##

In [27]:
gender_mapping={'m':'Male','male':'Male','f':'Female','female':'Female','non-binary':'Non-binary','other':'Other'," ":'Unknown',None:'Unknown'}
df['Gender']=df['Gender'].str.lower().str.strip()
df['Gender']=df['Gender'].map(gender_mapping).fillna('Unknown')

In [28]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [29]:
### Check and fix data types ###
df['CustomerID']=df['CustomerID'].astype(int)
df['Age']=df['Age'].astype(int)
df['Annual Income (k$)']=df['Annual Income (k$)'].astype(int)
df['Spending Score (1-100)']=df['Spending Score (1-100)'].astype(int)
## Convert these all in integers##

In [30]:
## Rename column headers to be clean and uniform (e.g., lowercase, no spaces).##
df.rename(columns=lambda x: x.strip().lower().replace(" ","_"),inplace=True)

In [31]:
df.head()

   customerid  gender  age  annual_income_(k$)  spending_score_(1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40